<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arjunrao.beacon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="Beacon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <service android:name=".ShakeService"/>


        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".MainDashBoard"
            android:screenOrientation="portrait"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TrustedActivity"
            android:screenOrientation="portrait"
            android:label="Your Trusted Contacts"
            android:noHistory="true"
            android:theme="@style/AppTheme" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <activity
            android:name=".UserLocation2"
            android:screenOrientation="portrait"
            android:label="Your Location"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EmailActivity"
            android:label="@string/title_activity_email"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Notifications"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_notifications"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShortcutKeys"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_shortcut_keys"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HelpLineActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_help_line"
            android:theme="@style/AppTheme" />
        <activity android:name=".HelpLines.India" />
        <activity android:name=".HelpLines.usa" />
        <activity android:name=".HelpLines.France" />
        <activity android:name=".HelpLines.Germany" />
        <activity android:name=".HelpLines.UK" />
        <activity android:name=".HelpLines.Russia" />
        <activity android:name=".HelpLines.China" />
        <activity android:name=".HelpLines.Spain" />
        <activity android:name=".User_Name"
            android:noHistory = "true"
            />
        <activity android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme = "@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
